body {
    background-color: #f6f4f3;
}

h1 {
    font-size: 5rem;
    text-align: center;
    border-bottom: 3px solid #99d3df;
    margin: 0 5rem;
}

p {
    font-size: 3rem;
    text-align: center;
}